<h1>Search for a Metropolitan Statistical Area</h1>
<div>
  <%= form_tag(by_zip_msas_path) do %>
    <%= text_field_tag :zip, nil, placeholder: 'Enter zip code to search...' %>
    <%= submit_tag 'Search', data: { disable_with: 'Searching...' } %>
  <% end %>
</div>
