/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height:100%;
  padding: 0;
  margin: 0;
}

html {
  background-image: url('bw_nyc_central_aerial.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: stretch;
}

body {
  background:rgba(0, 0, 0, 0.7);
}

#main-div {
  border-radius: 10px;
  background: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  width: 55%;
  box-shadow: 0px 6px 20px 13px rgba(0,0,0,0.75);
  text-align: center;
}

.jumbotron {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.error {
  color: #dc3545;
}
